body{
    margin:0%;
    padding:0%;
    /* background-color: rgb(93, 28, 28); */

}
.container{
    width:25%;
    background-color: wheat;
    justify-content: center;
    margin:auto;
    margin-top:10vh;
    border-radius: 25px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;

}
.search_bar{
    margin: auto;
    width:50%;
    text-align: center;
    /* border: 1px solid black; */
    
}
.search_bar input{
    padding:10px;
    width: 100%;
    border-radius: 20px;
    border:none;
    text-transform: uppercase;
       
}
.map i{
    display:block;
   padding-top: 20%;
    font-size: 165%; 
    width:20%;
}
.search{
    border:solid black 2px;
    font-size: 15px;
    padding:10px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}
.search:hover{
    background-color: black;
    color: white;
}
.img{
    display:flex;
    margin: auto;
    justify-content: center;
}
img{
   
    width:80%;
    height:auto;
    display: inline;
    object-fit: contain;
    
}
.temperature {
    margin:auto;
    text-align: center;
    font-size: 20px;
}
.lowerfoot{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 5vh;

}
.humidity{
    margin:auto;
    font-size: 120%;
    margin-top: 5vh;
}
.wind-speed{
    font-size: 120%;
    margin:auto;
    margin-top: 5vh;
}
.not-found{
    margin:auto;
    text-align: center;
    font-size: 32px;
}