body{
    margin:0%;
    padding:0%;
    /* background-color: rgb(93, 28, 28); */

}
.container{
    width:25vw;
    /* height:50vh; */
    background-color: wheat;
    justify-content: center;
    margin:auto;
    margin-top:10vh;
    margin-bottom:10vh;
    border-radius: 25px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 3vw;

}
.search_bar{
    margin: auto;
    width:75%;
    text-align: center;
    /* border: 1px solid black; */
    
}
.search_bar input{
    padding:0.25vw;
    width: 90%;
    border-radius: 20px;
    border:none;
    font-size: 1.05vw;
    text-transform: uppercase;
    border-bottom: 3.4px solid  black;
       
}
/* .map{
    border: 5px solid black;
    align-items: center;
} */
.map i{
    display:block;
   /* padding-top: 20%; */
    font-size: 1.75vw; 
    width:20%;
}
.search{
    border:solid black 2px;
    font-size: 1vw;
    padding:0.5vw;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}
.search:hover{
    /* background-color: black; */
    background-color: rgb(205, 195, 195);
}
.search:active{
    /* background-color: black; */
    background-color: rgb(246, 199, 199);
}
.img{
    display:flex;
    margin: auto;
    justify-content: center;
}
img{
   
    width:80%;
    height:auto;
    display: inline;
    object-fit: contain;
    
}
.temperature {
    margin:auto;
    text-align: center;
    font-size: 1.05vw;
}
.lowerfoot{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    margin: 3vh;

}
.humidity{
    margin:auto;
    font-size: 120%;
    margin-top: 5vh;
}
.wind-speed{
    font-size: 120%;
    margin:auto;
    margin-top: 5vh;
}
.not-found{
    margin:auto;
    text-align: center;
    font-size: 32px;
}

@media (max-width:800px) {
    .container{
        width:75vw; 
    
    }
    h1{
        font-size: 5vw !important;
        width:50vw !important;
        }
            .map i{
                font-size: 7vw;

            }
            .lat{
                font-size: 5vw !important;
                padding: 1.25vw;
            }
            .search i{
                font-size: 5vw;
                padding: 0.5vw;
            }
            .temperature{
                font-size: 8vw;
            }
}

@media (min-width:991px) and (max-width:1599px) {

}

/* @media (min-width:1600px) and (max-width:1800px) {
    .container{
        height:65vh !important;
    }
} */
/* @media (min-width:1800px) and (max-width:2100px) {
    .container{
        height:75vh !important;
    }
} */